
    <div class="my-apps row">
        <h1><i18n>my-apps</i18n></h1>
        <div ng-if="widget.apps.length === 0">
            <i18n>navbar.myapps.more</i18n>
        </div>
        <div class="bookmarked-app" ng-repeat="app in widget.apps">
            <a href="[[app.address]]" target="[[app.target]]">
                <i class="[[app.icon]]" ng-if="app.icon.indexOf('/') === -1" tooltip="[[app.displayName]]"></i>
                <img skin-src="[[app.icon]]" ng-if="app.icon.indexOf('/') !== -1" tooltip="[[app.displayName]]" />
            </a>
        </div>
    </div>
    <div class="more row" ng-click="widget.redirect('/welcome')">
        <a href="/welcome"><i18n>plus</i18n></a>
    </div>
